    <footer>
        <div class="wrapper">
            <div class="container_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14635.10419170298!2d-46.7333599!3d-23.5045747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8a2c845e54d6e92!2sVinhoteca!5e0!3m2!1spt-BR!2sbr!4v1630109851630!5m2!1spt-BR!2sbr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="container_links">
                <h4>Nossas Redes Sociais</h4>
                <nav>
                    <ul>
                        <li>
                            <a href="www.facebook.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook--v1.png" alt="facebook logo"/></a>
                        </li>
                        <li>
                            <a href="www.instagram.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="Instagram logo"/></a>
                        </li>
                        <li>
                            <a href="www.twitter.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png" alt="Twitter logo"/></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--icone/link suporte-->
            <div class="chat">
                <a href="#">
                    <img src="/images/chat.png">
                </a>
            </div>
        </div>
    </footer>
    <!--Importando BootStrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>