<footer>
    <div class="wrapper">
        <div class="container_onde">
            <h4>Onde estamos</h4>
            <p>End: Av. Domingos Odália Filho, 301</p>
            <p>Centro, Osasco - SP</p>
            <p>CEP: 06010-067</p>
            <p>Tel: (11) 3500-9839</p>
        </div>
        <div class="container_links">
            <h4>Nossas Redes Sociais</h4>
            <nav>
                <ul>
                    <li>
                        <a href="www.facebook.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook--v1.png" alt="facebook logo"/></a>
                    </li>
                    <li>
                        <a href="www.instagram.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="Instagram logo"/></a>
                    </li>
                    <li>
                        <a href="www.twitter.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png" alt="Twitter logo"/></a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--icone/link suporte-->
    </div>
</footer>
<!--Importando BootStrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>