<!-- <footer>
        <div class="wrapper">
            <div class="container_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14635.10419170298!2d-46.7333599!3d-23.5045747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8a2c845e54d6e92!2sVinhoteca!5e0!3m2!1spt-BR!2sbr!4v1630109851630!5m2!1spt-BR!2sbr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="container_onde">
                <h4>Onde estamos</h4>
                <p>End: Av. Domingos Odália Filho, 301</p>
                <p>Centro, Osasco - SP</p>
                <p>CEP: 06010-067</p>
                <p>Tel: (11) 3500-9839</p>
            </div>
            <div class="container_links">
                <h4>Nossas Redes Sociais</h4>
                <nav>
                    <ul>
                        <li>
                            <a href="www.facebook.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook--v1.png" alt="facebook logo"/></a>
                        </li>
                        <li>
                            <a href="www.instagram.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="Instagram logo"/></a>
                        </li>
                        <li>
                            <a href="www.twitter.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png" alt="Twitter logo"/></a>
                        </li>
                    </ul>
                </nav>
            </div> -->
<!--icone/link suporte-->
<!-- <div class="chat">
                <a href="#">
                    <img src="/images/chat.png">
                </a>
            </div>
        </div>
    </footer> -->

<!-- Novo Footer inicio-->
<footer>
    <div class="container-fluid">
        <div class="row custom-footer">
            <div class="col-md-3 div-footer">
                <h3 class="title-footer">Sobre a LasCopas</h3>
                <p class="text-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, dolorem,
                    voluptatum ab assumenda sint consectetur maxime rerum nisi omnis, vitae odit id minus! Quam
                    repellendus, cupiditate quaerat similique vitae optio.</p>
            </div>
            <div class="col-md-3 div-footer">
                <h3 class="title-footer">Categorias</h3>
                <ul class="lista-categorias">
                    <li><a href="#" class="link-categoria-footer">Vinhos Tintos</a></li>
                    <li><a href="#" class="link-categoria-footer">Vinhos Brancos</a></li>
                    <li><a href="#" class="link-categoria-footer">Combo Presentes</a></li>
                </ul>
            </div>
            <div class="col-md-3 div-footer">
                <h3 class="title-footer">Fale conosco</h3>
                <p><i class="bi bi-geo-alt-fill"></i> Av. Domingos Odália Filho, 301, Centro, Osasco - SP, 06010-067</p>
                <p><i class="bi bi-whatsapp"></i> (11) 3500-9839</p>
                <p><i class="bi bi-envelope"></i> contato@lascopas.com.br</p>
            </div>
            <div class="col-md-3 div-footer">
                <h3 class="title-footer">Onde estamos</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14635.10419170298!2d-46.7333599!3d-23.5045747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8a2c845e54d6e92!2sVinhoteca!5e0!3m2!1spt-BR!2sbr!4v1630109851630!5m2!1spt-BR!2sbr"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row copyright-footer">
            <div class="col-md12 copyright">
                <p>₢2021 Las Copas - Todos os direitos reservados.</p>
                <p>BEBA COM MODERAÇÃO!</p>
            </div>
            <div class="col-md12 d-flex redessociais">
                <ul class="d-flex">
                    <li> <a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li> <a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li> <a href="#"><i class="bi bi-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Novo Footer fim-->

<!--Importando BootStrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- chama o whatsapp -->
<script>
    var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?59405';
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var options = {
        "enabled": true,
        "chatButtonSetting": {
            "backgroundColor": "#4dc247",
            "ctaText": "",
            "borderRadius": "25",
            "marginLeft": "0",
            "marginBottom": "50",
            "marginRight": "50",
            "position": "right"
        },
        "brandSetting": {
            "brandName": "Las Copas",
            "brandSubTitle": "Normalmente responde em 1 dia",
            "brandImg": "https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
            "welcomeText": "Hi there!\nHow can I help you?",
            "messageText": "Hello, I have a question about {{page_link}}",
            "backgroundColor": "#0a5f54",
            "ctaText": "Start Chat",
            "borderRadius": "25",
            "autoShow": false,
            "phoneNumber": "551135009839"
        }
    };
    s.onload = function () {
        CreateWhatsappChatWidget(options);
    };
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
</script>
<!--  fim whatsapp -->
</body>

</html>