    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block mt-3">
                <span>Nossas Redes Sociais</span>
            </div>
            <div>
                <a href="www.facebook.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/facebook--v1.png" alt="facebook logo"/></a>
                <a href="www.instagram.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="Instagram logo"/></a>
                <a href="www.twitter.com" target="_blank"><img src="https://img.icons8.com/ios/50/000000/twitter--v1.png" alt="Twitter logo"/></a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <!-- Content -->
                  <h6 class="text-uppercase fw-bold mb-4">
                    Las Copas
                  </h6>
                  <p>
                    las Copas, um e-commerce nascido da paixão à fermentação dos frutos das videiras
                    e a coleção das melhores recordações! 
                  </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6>ONDE ESTAMOS?</h6>
                    <p>End: Av. Domingos Odália Filho, 301</p>
                    <p>Centro, Osasco - SP</p>
                    <p>CEP: 06010-067</p>
                    <p><a class="text-reset" href="tel:+551135009839">Tel: (11) 3500-9839</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14635.10419170298!2d-46.7333599!3d-23.5045747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8a2c845e54d6e92!2sVinhoteca!5e0!3m2!1spt-BR!2sbr!4v1630109851630!5m2!1spt-BR!2sbr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            LasCopas &
            <a class="text-reset" href="https://mdbootstrap.com/">MDBootstrap.com</a>
          </div>
            <!--icone/link suporte-->
            <!--
            <div class="chat">
                <a href="#">
                    <img src="/images/chat.png">
                </a>
            </div>
            -->
        </div>
    </footer>
    <!--Importando BootStrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>