<body>
    <header>
        <div class="wrapper">
            <a href="/"><h1>las <span>Copas</span></h1></a>
            <nav>
                <a href="/produtos">Produtos</a>
                <a href="/sobre">Trajetoria</a>
                <a class="link_login" href="/login">Login</a>
            </nav>
        </div>
    </header>