<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/template.css">
    <link rel="stylesheet" href="./style/form.css">
    <!--Fonte Open Sans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>lasCopas - cadastro Produto</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <a href="index.html"><h1>las <span>Copas</span></h1></a>
            <nav>
                <a href="produtos.html">Produtos</a>
                <a href="sobre.html">Trajetoria</a>
                <a class="link_login" href="login.html">Login</a>
            </nav>
        </div>
    </header>
    <content>
        <div class="wrapper">
           <div class="produto_wrapper">
                <div class="container_rotulo">
                    <img src="<%=rotulo%>" alt="rotulo">
                </div>
                <div class="descritivo_wrapper">
                    <h4>Origem: <%=origem%></h4>
                    <h4>Uva: <%=uvas%></h4>
                    <h4>Ano: <%ano%></h4>
                    <% if (temDescreicao) { %>
                        <span><%=descricao%></span>
                        <% } %>
                </div>
                <div class="preco">
                    <h4>Preço <%=preco%></h4>
                </div>
           </div>
        </div>
    </content>
</body>
</html>