.wrapper .container_formulario{
    display: flex;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-around;
    width:650px;
}

.wrapper .button{
    padding: 10px 20px;
    border: 0;
    background-color: cadetblue;
    color: #ccc;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px auto 20px auto;
}
.wrapper .button:hover{
    color:#fff;
    border: palevioletred 1px solid;
}

.wrapper .container_formulario .conjunto{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width:290px; 
}
.wrapper .container_formulario .conjunto p {
    align-self: center;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    border-width: 80%;
}

.wrapper .container_formulario .conjunto label small{
    font-size: 16px;
}

.wrapper .container_formulario .conjunto label input{
    margin: 10px auto;
}

.wrapper .container_formulario .conjunto select{
    margin: 10px auto;
    width: 90%;
}

.wrapper .container_formulario .conjunto .wrapper_uvas{
    display: flex;
    justify-content: space-around;
}

.wrapper .container_formulario .conjunto .wrapper_check{
    display: flex;
    flex-direction: column;
}

.text_right{
    text-align: right;
}

.cosecha{
    flex-direction: row!important;
    align-self: center;
}

.wrapper_tipo{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 15px 10px;
}
.row{
    align-self: center;
    display: flex;
    flex-direction: row!important;
}

.wrapper_campos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 20px 10px 0;
}

/* Estilos para formulario Cadastro clientes */

.clientes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    border: 1px solid #676767;
    border-radius: 5px;
    background-color: #bbb;
}
.clientes input,select{
    border: #05ca 1px solid;
    height: 20px;
    margin: 10px 20px;
    width: 280px;
}
.clientes option:hover{
    background-color: #05ca!important;
    color: white !important;;
}
.clientes label{
    padding: 5px 0 10px 5px;
}
