html, body{
    margin: 0;
    padding: 0;
    /*background-color:rgb(180,30,30);*/
}

.wrapper{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

header .wrapper{
    border-bottom: 1px solid darkgray;
    box-shadow: 2px 0 5px darkgray;
    box-sizing: border-box;
    height: 80px;
    margin: 0;
    text-align: left;
}

header .wrapper a{
    text-decoration: none;
}

header .wrapper h1{
    color: #000;
    padding: 10px 0 20px 30px;
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

header .wrapper h1 span{
    color:darkred;
    position: relative;
    top:20px;
}

.login_container{
    height: 360px;
    width: 260px;
    margin: 100px auto;   
}

.login{
    background-image: url(../images/login-background.jpeg);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

.login .login_user{
    margin-top: 50px;
}

.login .login_pass{
    margin-top: 20px;
}

.login label{
    padding-left: 10px;
    font-weight: 500;
}
.login input{
    height: 20px;
    width: 180px;
}


.login button{
    width:160px;
    height: 30px;
    margin: 40px auto;
}

footer .wrapper{
    align-items: center;
    background-color: dimgray;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    height: 310px;
    justify-content: space-around;
}

footer .container_links{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .container_links ul{
    display: flex;
    list-style: none;
    padding:0;
}

footer .container_links ul li{
    margin: 0 5px;
}


