<%- include("./partials/header")%>

<content>
    <div class="wrapper">
        <form action="/gerenciar/cadastroCliente" method="POST">
            <div class="container_formulario">
                <div class="clientes">
                    <div>
                        <label for="nome">Nome</label><br>
                        <input type="text" id="nome" name="nome" placeholder="Digite nome" required>
                    </div>
                    <div>
                        <label for="nasc">Nasc.</label><br>
                        <input type="date" id="nasc" name="nascimento" required>
                    </div>
                    <div>
                        <label for="email">Email</label><br>
                        <input type="email" id="email" name="email" placeholder="Informe seu email" required>
                    </div>
                    <div>
                        <label for="pessoa">Tipo de Pessoa</label><br>
                        <select id="pessoa" name="pessoa">
                            <option disabled selected>Selecione</option>
                            <option value="fisica">Fisica</option>
                            <option value="juridica">Juridica</option>
                        </select>
                    </div>
                    <div>
                        <label for="doc">CPF</label><br>
                        <input type="number" id="doc" name="doc" placeholder="Informe CPF ou CNPJ" required>
                    </div>
                    <div>
                        <label for="cep">CEP</label><br>
                        <input type="text" id="cep" name="cep" placeholder="Informe seu cep" required >
                    </div>
                    <div>
                        <label for="end1">End.</label><br>
                        <input type="text" id="end1" name="end1" placeholder="Digite endereço" required>
                    </div>
                    <div>
                        <label for="compl">Complemento</label><br>
                        <input type="text" id="compl" name="complemento" placeholder="Preencha caso precise complementar endereço">
                    </div>
                    <div>
                        <label for="uf">UF</label><br>
                        <select id="uf" name="uf">
                            <option disabled selected>Selecione UF</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            <option value="EX">Estrangeiro</option>
                        </select>
                    </div>
                    <div>
                        <label for="cidade">Cidade</label><br>
                        <input type="text" id="cidade" name="cidade" placeholder="Informe cidade" required>
                    </div>             
                </div>
            </div>
        <button type="submit" class="button">Cadastrar</button>
        </form>
    </div>
</content>
<%- include("./partials/footer")%>