<%- include("./partials/head") %>
<body>
    <%- include('./partials/header') %>
        <div class="login_container">
            <div class="login">
                <div class="login_user">
                    <label for="usuario">Login: </label>
                    <input type="text" id="usuario" name="usuario" placeholder="username" required>
                </div>
                <div class="login_pass">
                    <label for="password">Senha: </label>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <button type="submit" class="login_button">Logar</button>
                <p>Não tem conta? <a href="#">Cadastre agora!</a></p>
            </div>
        </div>
        <%- include("./partials/footer")%>
</body>
</html>