<%- include('./partials/header') %>
        <div class="login_container">
            <form action="/login" method="POST">
				<div class="login">
					<% if(created == true){ %>
						<span id="created">Usuario Criado com sucesso!</span>
					<% } %>
					<div class="login_user">
						<label for="usuario">Login: </label>
						<input type="text" id="usuario" name="email" placeholder="username" >
					</div>
					<div class="login_pass">
						<label for="password">Senha: </label>
						<input type="password" id="password" name="password" placeholder="password" >
					</div>
					<button type="submit" class="login_button">Logar</button>
					<p>Não tem conta? <a href="/gerenciar/cadastrocliente">Cadastre agora!</a></p>
				</div>
            </form>
        </div>
<%- include("./partials/footer")%>