<%-include('./partials/header')%>

<content>
    <div class="container text-center mt-5 p-5">
        
            <h4>Hora de <span>pagar :)</span></h4>
            <h5>Seu Pagamento será processado pelo PagSeguro!</h5>
            <br>
            
            <a class="btn btn-large btn-success" href="/checkout/confirmarPagamento">Prosseguir - PagSeguro</a>
        
    </div>
</content>

<%-include('./partials/footer')%>