<%-include('./partials/header')%>

<content>
    <div class="wrapper">
        <div class="container_pagamento">
            <h4>Hora de <span>pagar :)</span></h4>
            <h5>Pagamento processado pelo PagSeguro</h5>
            <h5>Clique no icone para prosseguir</h5>
            
            <a class="button_pagamento" href="/checkout/confirmarPagamento"><img src="/images/pagseguro.png"></a>
        </div>
    </div>
</content>

<%-include('./partials/footer')%>