<%-include('./partials/header')%>
<div class="wrapper">
    <h5 class="titulo_adm">Painel Administrativo</h5> 
    <div class="painel_wrapper">
           
            <div class="card_admin">
                <a href="/gerenciar/clientes">
                <div>
                    <img src="https://img.icons8.com/officel/80/000000/person-male.png" height="64px"/>
                </div>
                <p>Administrar Clientes</p>
                </a>
            </div>
            <div class="card_admin">
                <a href="/gerenciar/produtos">
                <div>
                    <img src="https://img.icons8.com/cute-clipart/64/000000/wine-glass.png"/>
                </div>
                <p>Administrar Produtos</p>
                </a>
            </div>
            <div class="card_admin">
                <a href="/gerenciar/pedidos">
                <div>
                    <img src="https://img.icons8.com/dusk/64/000000/checkout.png"/>
                </div>
                <p>Administrar Pedidos</p>
                </a>
            </div>
    </div>
</div>
<%-include('./partials/footer')%>