<%-include('./partials/headerAdm')%>
<div class="container p-5">
    <div class="row d-flex justify-content-around mt-5 mb-5 text-muted">
        <div class="card border-secondary" style="width: 18rem;">
            <a href="/gerenciar/clientes">
                <img class="card-img-top" src="https://img.icons8.com/officel/80/000000/person-male.png" alt="icone administrar clientes">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="/gerenciar/clientes" class="text-reset">Administrar Clientes</a></h5>
                </div>
            </a>
        </div>

        <div class="card border-secondary" style="width: 18rem;">
            <a href="/gerenciar/produtos">
                <img class="card-img-top" src="https://img.icons8.com/cute-clipart/64/000000/wine-glass.png" alt="icone administrar clientes">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="/gerenciar/produtos" class="text-reset">Administrar Produtos</a></h5>
                </div>
            </a>
        </div>
        <div class="card border-secondary" style="width: 18rem;">
            <a href="/gerenciar/pedidos">
                <img class="card-img-top" src="https://img.icons8.com/dusk/64/000000/checkout.png" alt="icone administrar clientes">
                <div class="card-body">
                    <h5 class="card-title text-center"><a href="/gerenciar/pedidos" class="text-reset">Administrar Pedidos</a></h5>
                </div>
            </a>
        </div>
    </div>
</div>      
<%-include('./partials/footerAdm')%>