<%-include('./partials/header')%>
<div class="container-md mt-5">
    <h3 class="nunito_font400">Nossa História</h3>
    <p class="nunito_font400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum ipsam neque necessitatibus atque excepturi, culpa, 
        iure officiis unde optio laborum, dolorem facere aliquid doloribus laboriosam. Ex aliquam minima minus.
    </p>
    <p class="nunito_font400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quibusdam asperiores illum explicabo quia alias molestias magni ad? 
        Quo repellat possimus animi magni distinctio sequi unde natus eum alias quis.
    </p>
    <p class="nunito_font400">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente aspernatur cumque voluptate architecto est velit facilis consequuntur 
        sint expedita ratione. Reprehenderit voluptatibus quo ea modi? Blanditiis dolores cum non nihil!
    </p>  
</div>
<%-include('./partials/footer')%>