<%-include('./partials/header')%>
<div class="wrapper">
    <div class="sobre">
        <h3>A trajetoria de Las Copas</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum ipsam neque necessitatibus atque excepturi, culpa, 
            iure officiis unde optio laborum, dolorem facere aliquid doloribus laboriosam. Ex aliquam minima minus.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quibusdam asperiores illum explicabo quia alias molestias magni ad? 
            Quo repellat possimus animi magni distinctio sequi unde natus eum alias quis.
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente aspernatur cumque voluptate architecto est velit facilis consequuntur 
            sint expedita ratione. Reprehenderit voluptatibus quo ea modi? Blanditiis dolores cum non nihil!
        </p>
    </div>  
</div>
<%-include('./partials/footer')%>