<%-include('./partials/header')%>
<div class="container-md mt-5">
    <h3 class="nunito_font400">Nossa História</h3>

    <p class="nunito_font400">Las Copas é um Ecommerce dedicado à comercialização de vinhos, idealizado por uma admiração 
        mutua à fermentação de uvas, foi idealizao e desenvolvido como projeto integrador do curso 
        de Desenvolvimento WEB FullStack – Node.JS da Escola Digital House, desenvolvido durante o período de Julho 2021 a Fevereiro de 2022.
    </p>

    <p class="nunito_font400">O projeto foi desenvolvido seguindo os princípios do desenvolvimento Ágil de Software, 
        com Sprints que foram definidas pela equipe docente durante o desenvolvimento do curso.
        A seguir, as tecnologias utilizadas para no desenvolvimento:
    </p>
<p class="nunito_font400">
    - Node.JS para desenvolver o Back-end;<br>
    - Express para desenvolvimento do framework WEB;<br>
    - SEquelize como ORM;<br>
    - MySQL para Banco de Dados;<br>
    - Para o Front-end foi utilizada a view-engine EJS;<br>
    - Bootstrap 5
</p>


  
</div>
<%-include('./partials/footer')%>