.wrapper .lista_container{
    
    margin: 20px auto;
    border: 1px solid #ccc;
    max-width: 80%;
}

.wrapper .lista_container ul{
    list-style: none;
    margin-block-start: 0;
}
.wrapper .lista_container .lista_item{
    display: flex;
    height: 120px;
    border-bottom: 1px solid #ccc;  
    border: 80%; 
}

.wrapper .lista_container .item_img{
    width:20%;
}

.wrapper .lista_container .lista_item .rotulo{
    max-width: 120px;
}
.wrapper .lista_container .item_desc{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .lista_container .item_desc span{
    font-weight: 500;
}
.wrapper .lista_container .item_valor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.wrapper .lista_container .item_valor span{
    color: red;
    font-weight: 500;
}

.form-floating{
    width:200px;
}

.container_total{
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.container_total .cep{
    width:40%;
}

.container_total .total{
    width: 40%;
}

.container_total .confirma{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_total .confirma .comprar{
    background-color: #10aa10;
    color: #fff;
}

