.wrapper .container_formulario{
    display: flex;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-around;

}

.wrapper .button{
    padding: 10px 20px;
    border: 0;
    background-color: rgba(220,60,60,0.8);
    border-radius: 5px;
    color: #ccc;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px auto 20px auto;
}
.wrapper .button:hover{
    color:#fff;
    border: palevioletred 1px solid;
}

/*CSS para tela cadastro produto*/
.wrapper .container_formulario .produto{
    display: flex;
    flex-direction: column;
    border: 1px solid #676767;
    border-radius: 5px;
    background-color: #bbb;
}

.wrapper .container_formulario .produto h5{
    margin-top: 5px;
}


.container_uvas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grupo_uvas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.grupo_uvas label{
    margin-top: 7px;
}

.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}

.flex_column div{
    width:100%;
    margin: 6px;
    text-align: left;
}
.flex_column div input{
    width: 80%;
    padding: 3px;
}

.flex_column div select{
    width:80%;
    padding:3px;
}

.flex_column div textarea{
    width:90%;
}


/*------------------------*/

.text_right{
    text-align: right;
}

/* Estilos para formulario Cadastro clientes */

.container-cliente{
    max-width: 740px !important;
}

.clientes{
    border: 1px solid #676767;
    border-radius: 5px;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    width:360px;
}

.clientes div{
    width:100%;
    margin: 6px;
    text-align: left;
}
.clientes div input{
    width:90%;
    padding:4px;
    margin:3px;
}

.clientes div input[type="date"]{
    width:60%;
}

.clientes div select{
    width: 50%;
    padding: 4px;
    margin:3px;
}

.clientes div label{
    margin:3px;
}

/*Estilos para formulario Envio*/
.envio{
    border: 1px solid #676767;
    background-color: #bbb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;  
}
.envio h3{
    padding: 15px auto;
    margin:20px;
    font-size: 20px;
}
.envio div{
    width:360px;
    margin-right: 0;
    text-align: right;

}
.envio label{
    font-size: 14px;
}
.envio input{
    width: 260px;
    margin: 5px 10px 5px auto;
    margin-right: 10px;
}

.envio select{
    margin: 5px 10px 20px auto;
    width: 260px;
    height:22px;
}

.envio .button:hover{
    background-color: #30aa30!important;
    color: white !important;
}


