.produto_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    margin:10px;
}
.produto_wrapper .container_rotulo img{
    width:350px;
    background-color: rgb(90, 46, 26);
    background-image: url("../images/display.jpeg");
    background-size:contain;
    border-radius: 50%;
    margin: 15px auto;
}

.produto_wrapper .container_descritivo{
    width:300px;
    text-align: left;
    padding:10px;   
}

.produto_wrapper .container_descritivo h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.produto_wrapper .container_descritivo span{
    font-size: 14px;
    font-style: normal;
}

.produto_wrapper .preco{
    font-size: 18px;
    width: 300px;
    padding: 30px;
}

/*-----Estilo para view produtos------*/

.wrapper .container_vinhos{
    display: flex;
    height:390px;
    margin: 20px auto;
    justify-content: space-evenly;
}

.wrapper h3{
    margin: 40px auto;
    text-decoration: underline;
}

.wrapper .link_button{
    box-shadow: rgba(80,80,70, 0.5) 1px 1px 5px;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: black;
    padding: 10px;
    border: 0;
    transition: all 0.5s;
}

.wrapper .link_button:hover{
    background-color: cadetblue;
    border-radius: 5px;
    color: white
}

.wrapper .container_vinhos .cardp{
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(80,80,70, 0.5) 1px 1px 5px;
    padding:5px;
    text-align: left;
    width:320px;
}
.wrapper .container_vinhos .cardp img{
    text-align: center;
    max-width:100%;
}
.wrapper .container_vinhos .cardp p{
    margin:5px auto 5px 0;
    font-size: 14px;
}
.wrapper .container_vinhos .cardp small{
    font-size: 14px;
    font-style: italic;
}

.wrapper .container_vinhos .cardp a{
    color: black;
    text-decoration: none;
}
