.produto_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    margin:10px;
}
.produto_wrapper .container_rotulo img{
    width:350px;
    background-color: rgb(90, 46, 26);
    background-image: url("../images/display.jpeg");
    background-size:contain;
    border-radius: 50%;
    margin: 15px auto;
}

.produto_wrapper .container_descritivo{
    width:300px;
    text-align: left;
    padding:10px;   
}

.produto_wrapper .container_descritivo h4{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.produto_wrapper .container_descritivo span{
    font-size: 14px;
    font-style: normal;
}

.produto_wrapper .preco{
    font-size: 18px;
    width: 300px;
    padding: 30px;
}