html, body{
    margin: 0;
    padding: 0;
}

.wrapper{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

header .wrapper{
    border-bottom: 1px solid darkgray;
    box-shadow: 2px 0 5px darkgray;
    box-sizing: border-box;
    display: flex;
    height: 80px;
    margin: 0;
    text-align: left;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

header .wrapper a{
    text-decoration: none;
    justify-self: start;
}

header .wrapper h1{
    color: #000;
    padding: 10px 0 20px 30px;
    margin:0;
}

header .wrapper h1 span{
    color:darkred;
    position: relative;
    top:20px;
}

header .wrapper nav{
    list-style: none;
    display: flex;
    margin-top: 10px;
}

header .wrapper nav a{
    /*color: #676767;*/
    color: #968FA6;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    transition: all 0.5s;
}
header .wrapper .link_login{
    color:darkblue;
}

header .wrapper nav a:hover{
    /*background-color: cadetblue;*/
    background-color: #D99C52;
    color:white;
}
header .wrapper nav a:active{
    /*background-color: darkblue;*/
    background-color: #7ED9C8;
    color:white;
}

content .wrapper{
    display: flex;
    flex-direction: column;
}

content .wrapper #carousel{
    margin: 10px auto;
    width: 600px;
    max-width: 100%;
}

content .wrapper #carousel img{
    height: 270px;    
}

content .wrapper .container_banner{
    justify-content: center;
    background-color: rgba(140, 95, 69, 0.5);
    display: flex;
    height: 350px;
}

content .wrapper .container_banner img{
    height: 100%;
}


content .wrapper .destaque{
    margin:40px 0 40px 0;
}

content .wrapper .destaque h3{
    color: #5D3D2D;
    text-decoration: none;
}

content .wrapper .destaque_container{
    display: flex;
    justify-content: space-around;
}

content .wrapper .cardp{
    width: 320px;
    margin: 20px auto;
    border: 1px solid #676767;
    border-radius: 10px;
    box-shadow: rgba(80,80,70, 0.5) 1px 1px 5px;
}

content .wrapper .cardp a{
    text-decoration: none;
    color: #222;
    text-align: left;
}

content .wrapper .cardp p{
    text-align: left;
    padding: 6px 0 6px 10px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
}

content .wrapper .cardp small{
    font-weight: 500;
    text-align: left;
    padding: 0 0 6px 10px;
}


content .wrapper .cardp img{
    text-align: center;
    width: 100%;
}

footer .wrapper{
    align-items: center;
    /*background-color: dimgray;*/
    background-color: #8C5F45;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-around;
}

footer .containet_map{
    padding: 10px auto;
}

footer .container_links{
    color:#968FA6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer .container_links ul{
    display: flex;
    list-style: none;
    padding:0;
}

footer .container_links ul li{
    margin: 0 5px;
}

footer .wrapper .chat{
    position: fixed;
    bottom: 7px;
    right:7px;
    z-index: 10;
}

footer .wrapper .chat img{
    width:60px;
    filter:drop-shadow(0 0 5px #a3a3a3);
}

/*-----Estilo Painel Administrativo-----*/
.wrapper .painel_wrapper{
    margin: 40px auto;
    border: #a3a3a3 1px solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    /*background-color: #bbb;*/
    background-color: #968FA6;
    padding:30px;
}

.wrapper .painel_wrapper .card_admin{
    width: 30%;
    margin: 20px auto;
    border: 1px solid #676767;
    background-color: #bbb;
    border-radius: 10px;
    box-shadow: rgba(80,80,70, 0.5) 1px 1px 5px;
    transition: all 0,5s;
}

.wrapper .painel_wrapper .card_admin:hover{
    background-color: #4e6ce4;
    color:#fff;
}

.wrapper .painel_wrapper .card_admin img{
    margin:20px auto;
}

.wrapper .painel_wrapper .card_admin a{
    text-decoration: none;
}

.wrapper .painel_wrapper .card_admin span{
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

.titulo_adm{
    color: #5D3D2D;
    margin:20px auto;
}

/*---------Estilo para pagina Administrar Clientes e Pedidos--*/

.wrapper .container_lista{
    margin: 15px auto;
    width:90%;
}

.link_tabela{
    text-decoration: none;
    color:#2c3d4c;
}

.wrapper .container_lista h5{
    color: #5D3D2D;
    font-size: 16px;
}

.container_busca{
    width:90%;
}

/*---------Estilo para pagina Sobre---------------*/

.wrapper .sobre{
    width: 90%;
    margin: 20px auto;
}

.wrapper .sobre h3{
    font-size: 18px;
    text-align: center;
}
.wrapper .sobre p{
    font-size:14px;
    text-align: left;
}